# Entorno virtual de Python
.venv/
venv/

# Variables de entorno y credenciales
.env

# Archivos temporales de Python
__pycache__/
*.pyc
*.pyo

# Archivos generados por Flex
lexer/lex.yy.c

# Ejecutable generado del analizador
lexer/haskell_lexer

# Archivos compilados
*.o
*.out

# Resultados generados
output/*
!output/.gitkeep